*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
.container{
   
    box-sizing: border-box;
    border: 2px solid grey;
    margin: 10px;
    padding: 30px 50px;
}
.navbar img{
    height: 100px;
    margin: 20px;
}
.section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    padding: 10px;
    height: 70%;
}
.left{
    flex-basis: 80%;
}
.text{
    z-index: -1;
    opacity: 0.70;
    background: url('https://togoteams.com/assets/images/logo-icon-40.png') no-repeat center center/cover;
    background-size: 400px;
    margin: 20px;
}
.text p{
    font-size: 2rem;
}
.text h2{
    color: blue;
}
.profile{
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 10px;
}
.profile img{
    height: 300px;
}
.profile h3{
    margin-top: 20px;
    color: blue;
}
.profile span{
    margin-top: 10px;
    color: blue;
}
@media only screen and (max-width:700px) {
    .section{
        flex-direction: column-reverse;
    }
    .container{
        padding: 5px;
    }
    .navbar{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .text{
        background-size: 300px;
        margin: 0px;
    }
    .text p{
        font-size: 1.5rem;
    }
}